<div class="register_page d-flex flex-wrap align-content-center" style="background-image: url(../assets/images/skyscapes-up-movie.jpg);">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="form_box">
					<h2 class="text-center mb-3">Register</h2>
					<form class="form-horizontal needs-validation" [formGroup]="signupForm" (ngSubmit)="userSingUp(signupForm.value)">
						<h5 class="text-left mt-2">Personal Information</h5>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="fname" class="form-control" formControlName="firstName" placeholder="First Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="lname" class="form-control" formControlName="lastName" placeholder="Last Name">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" id="email" class="form-control" formControlName="email" placeholder="Email-ID">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" id="cpassword" class="form-control" formControlName="cpassword" placeholder="Confirm Password" (blur)="checkConfirmPassword(signUp)">
								</div>
							</div>
						</div>
						<hr>
						<h5 class="text-left mt-2"> Contact Information </h5>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Phone Number">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="mobile" class="form-control" formControlName="mobile" placeholder="Mobile Number">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea id="address" class="form-control" rows="4" formControlName="address" placeholder="Address"></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="country" class="form-control" formControlName="country" placeholder="Country" autocomplete="off">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="city" class="form-control font-Palatino" formControlName="city" [(ngModel)]="city" placeholder="City" autocomplete="off"> 
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<re-captcha style="margin: 0px auto; display: table;" formControlName="captchacode" (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LdNmlAUAAAAAD1cxc82kZxF21jhLd5ZNqzdZDX8"></re-captcha>
								</div>
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-success btn-block" [disabled]="!signupForm.valid">
									Register
								</button>
								<a routerLink='/login' class="btn btn-primary btn-block text-white">Already a Member</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>